/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/captures
.externalNativeBuild

/projectFilesBackup
.gradle/
.idea/fileTemplates/code/
.idea/fileTemplates/internal/
.idea/fileTemplates/j2ee/
