<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.nukoneko.cuc.android.kidspos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="info.nukoneko.cuc.android.kidspos.KPApplicationController"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="info.nukoneko.cuc.android.kidspos.ui.main.SplashActivity"
            android:label="キッズビジネスタウンいちかわ"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="info.nukoneko.cuc.android.kidspos.ui.main.CalculatorActivity" android:label="@string/label_calc"
            android:screenOrientation="landscape"/>

        <activity android:name="info.nukoneko.cuc.android.kidspos.ui.setting.SettingsActivity" android:label="@string/drawer_setting"
            android:screenOrientation="landscape"/>

        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:label="POSシステム"
            android:name=".ui.main.MainActivity" />

    </application>

</manifest>
