<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nukoneko.cuc.kidspos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/label_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TopPageActivity"
            android:label="@string/label_toppage"/>

        <activity android:name=".activity.CalculatorActivity" android:label="@string/label_calc" />

        <activity android:name=".setting.SettingActivity"
            android:label="@string/drawer_setting" />
    </application>

</manifest>
