<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nukoneko.cuc.android.kidspos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="info.nukoneko.cuc.android.kidspos.AppController"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name="info.nukoneko.cuc.android.kidspos.ui.main.SplashActivity"
            android:label="キッズビジネスタウンいちかわ"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.nukoneko.cuc.android.kidspos.ui.main.TopPageActivity"
            android:label="@string/label_toppage"
            android:screenOrientation="landscape"/>

        <activity android:name="info.nukoneko.cuc.android.kidspos.ui.main.CalculatorActivity" android:label="@string/label_calc"
            android:screenOrientation="landscape"/>

        <activity android:name="info.nukoneko.cuc.android.kidspos.ui.setting.SettingActivity" android:label="@string/drawer_setting"
            android:screenOrientation="landscape"/>

    </application>

</manifest>
