name: Build Apk

on:
  workflow_dispatch:

jobs:
  deploy-stg:
    runs-on: [self-hosted, barbarian, ubuntu-latest]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - name: Cache Gradle
        uses: actions/cache@v2
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Set KeyStore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" > kidspos.txt
          base64 -d kidspos.txt > kidspos
          mv kidspos app/
      - name: Build Jar
        run: |
          ./gradlew clean assembleProdRelease
      - name: Deploy Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v12
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: device
          file: app/prod/release/app-prod-release.apk
